APP_URL=https://arcane.home.hchu.me
PUID=1000
PGID=1000
TZ=Asia/Seoul
DOCKER_HOST=tcp://docker-socket-proxy:2375
PROJECTS_DIRECTORY=/opt/homelab-compose
TRUSTED_PROXIES=172.16.0.0/12
ENCRYPTION_KEY_FILE=/run/secrets/encryption_key
JWT_SECRET_FILE=/run/secrets/jwt_secret
ANALYTICS_DISABLED=true
FILE_PERM=0600
DIR_PERM=0750
LOG_LEVEL=info
