bedrock:
  address: 0.0.0.0
  port: {{ minecraft_bedrock_port }}
  clone-remote-port: false
remote:
  address: auto
  port: {{ minecraft_java_port }}
  auth-type: floodgate
floodgate-key-file: key.pem
command-suggestions: true
passthrough-motd: true
passthrough-player-counts: true
allow-third-party-capes: true
