[Unit]
Description=Minecraft Paper backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ minecraft_user }}
Group={{ minecraft_group }}
WorkingDirectory={{ minecraft_paper_dir }}
ExecStart=/usr/bin/java -Xms{{ minecraft_java_xms }} -Xmx{{ minecraft_java_xmx }} -jar paper.jar --nogui
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
Restart=on-failure
RestartSec=10
SuccessExitStatus=0 130 143

[Install]
WantedBy=multi-user.target
