motd={{ minecraft_motd }}
server-ip={{ minecraft_paper_bind_address }}
server-port={{ minecraft_paper_port }}
online-mode=false
white-list=true
enforce-whitelist=true
max-players={{ minecraft_max_players }}
enable-command-block=false
spawn-protection=0
view-distance=10
simulation-distance=10
