HERMES_HOME={{ hermes_home | quote }}
HERMES_CONFIG_PATH={{ (hermes_home + '/config.yaml') | quote }}
HERMES_WEBUI_AGENT_DIR={{ hermes_agent_dir | quote }}
HERMES_WEBUI_PYTHON={{ (hermes_venv_path + '/bin/python') | quote }}
HERMES_WEBUI_HOST={{ hermes_webui_host | quote }}
HERMES_WEBUI_PORT={{ hermes_webui_port | string | quote }}
HERMES_WEBUI_STATE_DIR={{ hermes_webui_state_dir | quote }}
HERMES_WEBUI_DEFAULT_WORKSPACE={{ hermes_webui_default_workspace | quote }}
HERMES_WEBUI_PASSWORD={{ hermes_webui_password | quote }}
