HERMES_HOME={{ hermes_home | quote }}
HOME={{ hermes_home | quote }}
HERMES_CONFIG_REPO={{ hermes_config_repo | quote }}
HERMES_CONFIG_BRANCH={{ hermes_config_branch | quote }}
HERMES_CONFIG_DIR={{ hermes_config_dir | quote }}
HERMES_CONFIG_GIT_TOKEN={{ hermes_config_repo_token | quote }}
HERMES_CONFIG_WEBHOOK_SECRET={{ hermes_config_webhook_secret | quote }}
HERMES_CONFIG_COMMIT_USER_NAME={{ hermes_config_commit_user_name | quote }}
HERMES_CONFIG_COMMIT_USER_EMAIL={{ hermes_config_commit_user_email | quote }}
HERMES_CONFIG_RESTART_PATTERNS={{ hermes_config_restart_patterns | join('|') | quote }}
HERMES_USER={{ hermes_user | quote }}
HERMES_GROUP={{ hermes_group | quote }}
HERMES_VENV_PATH={{ hermes_venv_path | quote }}
HERMES_CONFIG_APPLY={{ hermes_config_apply_path | quote }}
HERMES_GATEWAY_SERVICE=hermes-gateway.service
