HERMES_HOME={{ hermes_home | quote }}
HERMES_CONFIG_PATH={{ (hermes_home + '/config.yaml') | quote }}
HOME={{ hermes_home | quote }}
SHELL=/bin/bash
PYTHONUNBUFFERED=1
DISCORD_BOT_TOKEN={{ hermes_discord_bot_token | quote }}
DISCORD_ALLOWED_USERS={{ hermes_discord_allowed_users | quote }}
DISCORD_REQUIRE_MENTION={{ hermes_discord_require_mention | string | lower | quote }}
DISCORD_IGNORE_NO_MENTION={{ hermes_discord_ignore_no_mention | string | lower | quote }}
DISCORD_HOME_CHANNEL={{ hermes_discord_home_channel | quote }}
PARALLEL_API_KEY={{ hermes_parallel_api_key | quote }}
FIRECRAWL_API_KEY={{ hermes_firecrawl_api_key | quote }}
BROWSERBASE_API_KEY={{ hermes_browserbase_api_key | quote }}
BROWSERBASE_PROJECT_ID={{ hermes_browserbase_project_id | quote }}
BROWSERBASE_PROXIES={{ hermes_browserbase_proxies | string | lower | quote }}
BROWSERBASE_ADVANCED_STEALTH={{ hermes_browserbase_advanced_stealth | string | lower | quote }}
AGENT_BROWSER_ARGS={{ hermes_browser_args | quote }}
OP_SERVICE_ACCOUNT_TOKEN={{ hermes_1password_service_account_token | quote }}
NEWRROW_USERNAME_REF={{ hermes_newrrow_username_ref | quote }}
NEWRROW_PASSWORD_REF={{ hermes_newrrow_password_ref | quote }}
