HERMES_HOME={{ hermes_home | quote }}
HERMES_CONFIG_PATH={{ (hermes_home + '/config.yaml') | quote }}
SHELL=/bin/bash
PYTHONUNBUFFERED=1
DISCORD_BOT_TOKEN={{ hermes_discord_bot_token | quote }}
DISCORD_ALLOWED_USERS={{ hermes_discord_allowed_users | quote }}
DISCORD_REQUIRE_MENTION={{ hermes_discord_require_mention | string | lower | quote }}
DISCORD_IGNORE_NO_MENTION={{ hermes_discord_ignore_no_mention | string | lower | quote }}
