APP_URL={{ arcane_app_url }}
PUID={{ arcane_uid }}
PGID={{ arcane_gid }}
TZ={{ docker_apps_timezone }}
DOCKER_HOST=tcp://docker-socket-proxy:2375
PROJECTS_DIRECTORY={{ arcane_projects_root }}
TRUSTED_PROXIES={{ arcane_proxy_network.stdout | trim }}
ENCRYPTION_KEY_FILE=/run/secrets/encryption_key
JWT_SECRET_FILE=/run/secrets/jwt_secret
{% if arcane_bootstrap_static_key_enabled | default(false) %}
ADMIN_STATIC_API_KEY_FILE=/run/secrets/bootstrap_admin_api_key
{% endif %}
ANALYTICS_DISABLED=true
FILE_PERM=0600
DIR_PERM=0750
LOG_LEVEL=info
