{
  "dns": [
    "1.1.1.1",
    "1.0.0.1"
  ],
  "icc": false,
  "iptables": true,
  "ip6tables": false,
  "live-restore": true,
  "log-driver": "local",
  "log-opts": {
    "max-file": "3",
    "max-size": "10m"
  },
  "userland-proxy": false
}
