[Preferences]
WebUI\Address=0.0.0.0
WebUI\Port={{ qbittorrent_webui_port }}
WebUI\Username={{ qbittorrent_webui_username }}
WebUI\Password_PBKDF2="{{ qbittorrent_webui_password_pbkdf2 }}"
WebUI\AlternativeUIEnabled=true
WebUI\RootFolder={{ qbittorrent_vuetorrent_root }}
Downloads\SavePath={{ downloads_complete_path }}/
Downloads\TempPath={{ downloads_incomplete_path }}/
Downloads\TempPathEnabled=true
Connection\Interface={{ proton_wg_interface }}
Connection\PortRangeMin=0
Connection\UPnP=false
Connection\RandomPort=false

[BitTorrent]
Session\QueueingSystemEnabled=false
