[Unit]
Description=qBittorrent-nox service
After=network-online.target wg-quick@{{ proton_wg_interface }}.service nftables.service
Wants=network-online.target
Requires=wg-quick@{{ proton_wg_interface }}.service nftables.service

[Service]
Type=simple
User={{ qbittorrent_user }}
Group={{ qbittorrent_group }}
ExecStart=/usr/bin/qbittorrent-nox --webui-port={{ qbittorrent_webui_port }}
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
RestrictSUIDSGID=true
LockPersonality=true
ReadWritePaths=/var/lib/qbittorrent {{ downloads_mount_path }}

[Install]
WantedBy=multi-user.target
