flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0; policy accept;

    iif "lo" accept
    ct state established,related accept
    ip saddr {{ edge_ip }} tcp dport {{ qbittorrent_webui_port }} accept
    ip saddr {{ homelab_tailscale_cidr }} tcp dport {{ qbittorrent_webui_port }} accept
    tcp dport {{ qbittorrent_webui_port }} reject
  }

  chain output {
    type filter hook output priority 0; policy accept;

    oif "lo" accept
    udp dport 51820 accept

    meta skuid {{ qbittorrent_uid }} oifname "{{ proton_wg_interface }}" accept
    ct state established meta skuid {{ qbittorrent_uid }} ip daddr {{ edge_ip }} tcp sport {{ qbittorrent_webui_port }} accept
    ct state established meta skuid {{ qbittorrent_uid }} ip daddr {{ homelab_tailscale_cidr }} tcp sport {{ qbittorrent_webui_port }} accept
    meta skuid {{ qbittorrent_uid }} reject

    ip daddr {{ homelab_lan_cidr }} accept
    ip daddr {{ homelab_tailscale_cidr }} accept
    udp dport 53 accept
    tcp dport 53 accept
  }
}
