[Interface]
PrivateKey = {{ proton_wireguard_private_key }}
Address = {{ proton_wireguard_address }}
DNS = {{ proton_wireguard_dns }}

[Peer]
PublicKey = {{ proton_wireguard_selected.public_key }}
AllowedIPs = {{ proton_wireguard_allowed_ips }}
Endpoint = {{ proton_wireguard_selected.endpoint }}
PersistentKeepalive = 25
