HERMES_UID=1200
HERMES_GID=1200
HERMES_HOME=/opt/data
HOME=/opt/data
TZ=Asia/Seoul
DISCORD_BOT_TOKEN=replace-me
DISCORD_ALLOWED_USERS=replace-me
DISCORD_REQUIRE_MENTION=true
DISCORD_IGNORE_NO_MENTION=true
DISCORD_HOME_CHANNEL=replace-me
PARALLEL_API_KEY=replace-me
FIRECRAWL_API_KEY=replace-me
BROWSERBASE_API_KEY=replace-me
BROWSERBASE_PROJECT_ID=replace-me
BROWSERBASE_PROXIES=false
BROWSERBASE_ADVANCED_STEALTH=false
AGENT_BROWSER_ARGS=--no-sandbox,--disable-dev-shm-usage
HONCHO_ENVIRONMENT=production
OP_SERVICE_ACCOUNT_TOKEN=replace-me
NEWRROW_USERNAME_REF=op://Hermes/Newrrow/username
NEWRROW_PASSWORD_REF=op://Hermes/Newrrow/password
