{
	email holybaechu@proton.me
	acme_dns cloudflare {$CLOUDFLARE_DNS_API_TOKEN}
}

(private_only) {
	@not_private not remote_ip 192.168.0.0/24 100.64.0.0/10
	respond @not_private 403
}

(base_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Referrer-Policy "no-referrer-when-downgrade"
	}
}

(secure_headers) {
	import base_headers
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}

(pve_headers) {
	import base_headers
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
	}
}

(router_headers) {
	import base_headers
	header {
		X-Frame-Options "DENY"
	}
}

copyparty.hchu.me {
	import secure_headers
	reverse_proxy 192.168.0.7:3923
}

adguard.home.hchu.me {
	import private_only
	import secure_headers
	reverse_proxy https://192.168.0.3:443 {
		transport http {
			tls_server_name adguard.home.hchu.me
		}
	}
}

qbt.home.hchu.me {
	import private_only
	import secure_headers
	reverse_proxy 192.168.0.6:8080
}

pve.home.hchu.me {
	import private_only
	import pve_headers
	reverse_proxy https://192.168.0.2:8006 {
		transport http {
			tls_server_name pve.home.hchu.me
			tls_trusted_ca_certs /etc/ssl/certs/homelab-pve-root-ca.pem
		}
	}
}

router.home.hchu.me {
	import private_only
	import router_headers
	reverse_proxy http://192.168.0.1
}
