RESTIC_REPOSITORY={{ backup_restic_repository | quote }}
RESTIC_PASSWORD={{ backup_restic_password | quote }}
AWS_ACCESS_KEY_ID={{ backup_aws_access_key_id | quote }}
AWS_SECRET_ACCESS_KEY={{ backup_aws_secret_access_key | quote }}
AWS_DEFAULT_REGION={{ backup_aws_default_region }}
BACKUP_INTERVAL_SECONDS={{ backup_interval_seconds }}
BACKUP_KEEP_DAILY={{ backup_keep_daily }}
BACKUP_KEEP_WEEKLY={{ backup_keep_weekly }}
BACKUP_KEEP_MONTHLY={{ backup_keep_monthly }}
