PUID={{ docker_apps_uid }}
PGID={{ docker_apps_gid }}
TZ={{ docker_apps_timezone }}
MINECRAFT_MEMORY=3G
MINECRAFT_MAX_PLAYERS={{ minecraft_max_players | default(10) }}
MINECRAFT_MOTD={{ minecraft_motd | default('hchu.me Minecraft') }}
