HERMES_UID={{ hermes_uid }}
HERMES_GID={{ hermes_gid }}
HERMES_HOME=/opt/data
HOME=/opt/data
TZ={{ docker_apps_timezone }}
DISCORD_BOT_TOKEN={{ hermes_discord_bot_token | quote }}
DISCORD_ALLOWED_USERS={{ hermes_discord_allowed_users | quote }}
DISCORD_REQUIRE_MENTION={{ hermes_discord_require_mention | string | lower }}
DISCORD_IGNORE_NO_MENTION={{ hermes_discord_ignore_no_mention | string | lower }}
DISCORD_HOME_CHANNEL={{ hermes_discord_home_channel | quote }}
PARALLEL_API_KEY={{ hermes_parallel_api_key | quote }}
FIRECRAWL_API_KEY={{ hermes_firecrawl_api_key | quote }}
BROWSERBASE_API_KEY={{ hermes_browserbase_api_key | quote }}
BROWSERBASE_PROJECT_ID={{ hermes_browserbase_project_id | quote }}
BROWSERBASE_PROXIES=false
BROWSERBASE_ADVANCED_STEALTH=false
AGENT_BROWSER_ARGS=--no-sandbox,--disable-dev-shm-usage
HONCHO_ENVIRONMENT={{ hermes_honcho_environment }}
{% if hermes_honcho_api_key is defined and (hermes_honcho_api_key | string | length) > 0 %}
HONCHO_API_KEY={{ hermes_honcho_api_key | quote }}
{% endif %}
OP_SERVICE_ACCOUNT_TOKEN={{ hermes_1password_service_account_token | quote }}
NEWRROW_USERNAME_REF={{ hermes_newrrow_username_ref }}
NEWRROW_PASSWORD_REF={{ hermes_newrrow_password_ref }}
