PUID={{ docker_apps_uid }}
PGID={{ docker_apps_gid }}
TZ={{ docker_apps_timezone }}
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY={{ proton_wireguard_private_key | default('') }}
WIREGUARD_ADDRESSES={{ proton_wireguard_address | default('') }}
SERVER_COUNTRIES={{ proton_server_country | default('Japan') }}
QBT_WEBUI_PORT=8080
COPYPARTY_USERS_JSON={{ copyparty_users | default([]) | to_json }}
