[Preferences]
WebUI\Address=0.0.0.0
WebUI\Port=8080
WebUI\Username={{ qbittorrent_webui_username }}
WebUI\Password_PBKDF2="{{ qbittorrent_webui_password_pbkdf2 }}"
WebUI\LocalHostAuth=false
Downloads\SavePath=/downloads/complete/
Downloads\TempPath=/downloads/incomplete/
Downloads\TempPathEnabled=true
Connection\Interface=tun0
Connection\PortRangeMin=0
Connection\UPnP=false
Connection\RandomPort=false

[BitTorrent]
Session\QueueingSystemEnabled=false
