TZ={{ docker_apps_timezone }}
CF_DNS_API_TOKEN={{ cloudflare_caddy_token | default('') }}
TRAEFIK_ACME_EMAIL={{ traefik_acme_email }}
TRAEFIK_DOMAIN={{ traefik_domain }}
TRAEFIK_PRIVATE_DOMAIN={{ traefik_private_domain }}
