[AutoRun]
enabled=false
program=

[BitTorrent]
Session\Port=6881

[LegalNotice]
Accepted=true

[Preferences]
Connection\PortRangeMin=6881
Connection\UPnP=false
Downloads\SavePath=/downloads/
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\0)
Downloads\TempPath=/downloads/incomplete/
WebUI\Address=*
WebUI\AlternativeUIEnabled=true
WebUI\AuthSubnetWhitelist=127.0.0.1/32
WebUI\AuthSubnetWhitelistEnabled=true
WebUI\Password_PBKDF2="@ByteArray(REPLACE_WITH_GENERATED_QBITTORRENT_PBKDF2_HASH)"
WebUI\RootFolder=/vuetorrent
WebUI\ServerDomains=*
WebUI\Username=holybaechu
