COPYPARTY_HOLYBAECHU_PASSWORD=changeme
COPYPARTY_SIREGON72_PASSWORD=changeme
COPYPARTY_EZMIN1104_PASSWORD=changeme
COPYPARTY_SIEON_PASSWORD=changeme
COPYPARTY_EMUYOZ_PASSWORD=changeme
COPYPARTY_BJH_DEEPFAKE_CONTEST_PASSWORD=changeme
