[accounts]
{% for user in copyparty_users %}
  {{ user.name }}: {{ user.password_hash }}
{% endfor %}
{% set copyparty_user_names = copyparty_users | map(attribute='name') | list %}

[global]
  e2dsa
  e2ts
  ansi
  usernames
  rproxy: -1
  xff-src: 192.168.0.4
  name: copyparty.hchu.me
  localtime
  gsel
  lang: kor
  p: {{ copyparty_listen_port }}

[/public]
  /srv/public
  accs:
    r: *
    A: holybaechu

[/shared-readonly]
  /srv/shared-readonly
  accs:
    r: {{ copyparty_user_names | join(', ') }}
    A: holybaechu

[/downloads]
  /srv/downloads
  accs:
    r: holybaechu
    A: holybaechu
