[accounts]
{% for user in copyparty_users %}
  {{ user.name }}: {{ user.password }}
{% endfor %}

[global]
  e2dsa
  e2ts
  ansi
  rproxy: -1
  xff-src: 192.168.0.4
  name: copyparty.hchu.me
  localtime
  gsel
  lang: kor
  grid
  p: {{ copyparty_listen_port }}

[/public]
  /srv/public
  accs:
    r: *
    A: holybaechu

[/shared-readonly]
  /srv/shared-readonly
  accs:
    r: holybaechu
    A: holybaechu

[/downloads]
  /srv/downloads
  accs:
    r: holybaechu
    A: holybaechu
