flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0; policy drop;

    iifname "lo" accept
    ct state { established, related } accept
    ct state invalid drop

    ip protocol icmp accept
    icmpv6 type {
      destination-unreachable,
      packet-too-big,
      time-exceeded,
      parameter-problem,
      echo-request,
      echo-reply
    } accept
    icmpv6 type {
      nd-router-solicit,
      nd-router-advert,
      nd-neighbor-solicit,
      nd-neighbor-advert
    } ip6 hoplimit 255 accept

    ip saddr { {{ homelab_lan_cidr }}, {{ homelab_tailscale_cidr }} } tcp dport 22 accept
    ip saddr {{ edge_ip }} tcp dport {{ copyparty_listen_port }} accept
    ip saddr {{ homelab_tailscale_cidr }} tcp dport {{ copyparty_listen_port }} accept
    tcp dport {{ copyparty_listen_port }} reject
  }

  chain forward {
    type filter hook forward priority 0; policy drop;
  }

  chain output {
    type filter hook output priority 0; policy accept;
  }
}
