[Preferences]
WebUI\Address=0.0.0.0
WebUI\Port=8080
WebUI\Username=@@QBITTORRENT_USERNAME@@
WebUI\Password_PBKDF2="@@QBITTORRENT_PASSWORD_HASH@@"
WebUI\LocalHostAuth=false
WebUI\AlternativeUIEnabled=true
WebUI\RootFolder=/vuetorrent
Downloads\SavePath=/downloads/complete/
Downloads\TempPath=/downloads/incomplete/
Downloads\TempPathEnabled=true
Connection\PortRangeMin=35435
Connection\UPnP=false
Connection\RandomPort=false

[BitTorrent]
Session\QueueingSystemEnabled=false
