#!/bin/sh
set -eu
{% for item in loop_environment %}
export {{ item.name }}={{ item.value | quote }}
{% endfor %}
while true; do
  if ! {{ loop_command }}; then
    echo "{{ loop_failure_message }}" >&2
  fi
  sleep {{ loop_interval_seconds }}
done
