services:
  minecraft:
    image: itzg/minecraft-server:latest
    restart: unless-stopped
    pull_policy: daily
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"

      TYPE: "PAPER"
      VERSION: "1.21.10"

      WHITELIST: |
        holybaechu
        kdvcre0403
        minecraftkdvcre

      OPS: |
        holybaechu
        kdvcre0403
        minecraftkdvcre
    volumes:
      - ./data:/data
